@import '../bootstrap-5.0.0-beta1/scss/bootstrap';

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.card {
  margin-bottom: $spacer;
}

button[data-option-selected] {
  background-color: red !important;
}
