$astral: #2D6F9B;
$turkishRose: #AE7C85;
$poloBlue: #84AFD4;
$santasGray: #9E9EAE;
$athensGray: #EAEAEF;
$aquaForest: #5daf78;
$anzac: #da9f40;
$pomegranate: #f44336;

$primary: #20A7DB;
$lightAccent: #6DC3DB;
$darkAccent: #839DAE;
$light: #F9F8F7;
$dark:  #194165;

$info: $lightAccent;
$success: $aquaForest;
$warning: $anzac;
$danger: $pomegranate;

$body-bg: $light;
$body-color: $dark;

$link-color: $dark;
$link-decoration: none;

$font-size-base: 0.8rem;

@import '../bootstrap-5.0.0-beta1/scss/bootstrap';

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

nav.navbar {
  background-color: $primary;
}

.card {
  margin-bottom: $spacer;
}

button[data-option-selected] {
  background-color: $warning !important;
  border-color: $warning !important;
}

.accordion-button.collapsed {
  border-bottom-width: 1px;
}

.accordion-collapse {
  border-width: 0 1px 1px;
}
